body,html,header,p,h3,ul,li,footer{padding: 0px;margin: 0px;}
em{ font-style: normal;}
ul li{list-style: none;}
div,li,footer{box-sizing: border-box;}
#header{
    box-sizing: border-box;
    width: 100%;
    height: 1.186667rem;
    background: rgba(0,148,255,1);
    font-size: .453333rem;
    color: white;
    padding: 0 .373333rem;
    padding-top: .266667rem;
    font-weight: bold;
}
#header i{
    font-size: .413333rem;
}
.find{
    width: 100%;
    height: 1.36rem;
    padding: .2rem .373333rem;
    background: rgba(0,148,255,1);
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 999;
}
.find-item{
    width: 9.253333rem;
    height: .96rem;
    background: white;
    color: #999;
    font-size: .4rem;
    line-height: .96rem;
}
.find-item i{
    font-size: .426667rem;
}
.foot-entry{
    width: 100%;;
    height: 4.72rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.foot-item{
    width: 20%;
    height: 1.706667rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: .293333rem;
}
.foot-item .foot-img img{
    width: 1.2rem;
    height: 1.2rem;
}
.foot-item .foot-name{
    color: #666;
    font-size: .32rem;
}
.purchase{
    width: 100%;
    height: 3.733333rem;
    margin-bottom: .213333rem;
    padding: 0 .266667rem;
    display: flex;
    justify-content: space-between;
}
.purchase-item{
    width: 4.693333rem;
    height: 3.733333rem;
    padding-left: .4rem;
    padding-top: .32rem;
    background: #f4f4f4;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.purchase-item .text{
    width: 100%;
}
.purchase-item .img{
   position: absolute;
   bottom: 0px;
   right: 0px;
}
.purchase-item .img img{
    width: 3.2rem;
    height: 2.133333rem;
}
.purchase-item .text h3{
    font-size: .453333rem;
    font-weight: 700;
    color: #333;
}
.purchase-item .text p:first-of-type{
    font-size: .346667rem;
    color: #777;
}
.purchase-item .text p:nth-child(3){
    font-size: .32rem;
    color: #af8260;
    font-weight: 700;
}
.recommend-shop p.title{
    font-size: .4rem;
    color: #000;
    width: 100%;
    height: .96rem;
    text-align: center;
    line-height: .96rem;
}
.recommend-shop p em{
    color: #666;
}
.recommend-top{
    width: 100%;
    height: 1.053333rem;
    display: flex;
    justify-content: space-around;
    line-height: 1.053333rem;
    position: relative;
}
.recommend-top::after{
    content: "";
    width: 100%;
    height: .013333rem;
   
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    background: #f1f1f1;

}
.recommend-top li{
    color: #666;
    font-size: .373333rem;
}
.recommend-list li{
    width: 100%;
    height: 4.6rem;
    display: flex;
    flex-wrap: wrap;
    padding-top: .4rem;
    padding-bottom: .4rem; 
    justify-content: space-around;

}
.recommend-list li .shop-img{
    width: 1.733333rem;
    height: 1.733333rem;
}
.recommend-list li .shop-img img{
    width: 1.733333rem;
    height: 1.733333rem;
}
.recommend-list li .shop-detail{
    width: 7.733333rem;
    height: 1.733333rem;
    padding-right: .2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.shop-detail p{
    display: flex;
    justify-content: space-between;
}
.shop-detail p:nth-child(1) .left em{
    width: .72rem;
    height: .44rem;
    border-radius: .04rem;
    color: #6f3f15;
    font-size: .32rem;
    font-style: normal;
    font-weight: 700;
    background-image: linear-gradient(-139deg,#fff100,#ffe339);
}
.shop-detail p:nth-child(1) .left strong{
    font-weight: 700;
    color: #333;
    font-size: .4rem;
}
.shop-detail p:nth-child(2) .left img{
    width: 1.493333rem;
    height: .266667rem;
}
.shop-detail p:nth-child(2) .left{
    color: #666;
    font-size: .293333rem;
    
}
.shop-detail p:nth-child(3) .left{
    position: relative;
}
.shop-detail p:nth-child(3) .left::before{
    content: "";
    position: absolute;
    top: .013333rem;
    bottom: .013333rem;
    left: 1.333333rem;
    width: .013333rem;
    background: #666;
}
.shop-detail p:nth-child(2) .right{
    width: 1.133333rem;
    height: .333333rem;
    background: #0085ff;
    color: white;
    font-size: .266667rem;
}
.shop-detail p:nth-child(3) .left{
    color: #666;
    font-size: .293333rem; 
}
.shop-detail p:nth-child(3) .right{
    color: #999;
    font-size: .293333rem; 
    position: relative;
}
.shop-detail p:nth-child(3) .right::before{
    content: "";
    position: absolute;
    top: .013333rem;
    bottom: .013333rem;
    left:1.2rem;
    width: .013333rem;
    background: #999;
}
.active{
    width: 100%;
    height: 1.786667rem;
    padding-left: 2.266667rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.active p{
    display: flex;
    justify-content: space-between;
}
.active p:nth-child(1){
    margin-top: .133333rem;
    margin-bottom: .266667rem;
}
.active p:nth-child(1) .left em{
    display: inline-block;
    color: rgb(102, 102, 102);
    border-color: rgb(221, 221, 221);
    border: .013333rem solid;
    border-radius: .053333rem;
    font-size: .293333rem;
}
.active p:nth-child(1) .left .icon{
    color: #e8470b;
    font-size: .293333rem;
}
.active p:nth-child(2){
    margin-bottom: .066667rem;
}
.active p:nth-child(2) .left em{
    font-size: .32rem;
    padding: .026667rem;
    font-weight: 700;
    color: #fff;
    background: rgb(112,188,70);
}
.active p:nth-child(2) .left span{
    color: #666;
    font-size: .293333rem;
} 
.active p:nth-child(2) .right{
    color: #999;
    font-size: .293333rem; 
}
.active p:nth-child(3) .left em{
    font-size: .32rem;
    padding: .026667rem;
    font-weight: 700;
    color: #fff;
    background: rgb(240,115,115);
}
.active p:nth-child(3) .left span{
    color: #666;
    font-size: .293333rem;
}
#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.333333rem;
    padding-top: .12rem;
    background: white;
    display: flex;
    justify-content: space-around;
}
#footer span{
    display: flex;
    flex-direction: column;
}
#footer span i{
    font-size: .666667rem; 
}
#footer span em{
    color: #0089dc;
}
.tap{
    color: #0089dc; 
}   